

h1 {
  margin: 0 auto;
  font-family: "Times New Roman";
  line-height: 1.5;
  color: #fff1d4;
}

body {
  margin: 0 auto;
  color: #fff1d4;
  max-width: 50em;
  font-family: ";
  line-height: 1.5;
  padding: 4em 1em;
  background: #ff9085;
}

a {
  color: #e81c4f;
}
p {
  font-family: "Roboto";
  margin-top: 0.5em;
  color: #555;
  padding-top: 0.5em;
}

h2 {
  margin-top: 0.5em;
  color: #333;
  padding-top: 0.5em;
  border-bottom: 1px solid #141214;
}

h3 {
  color: #333;
}

<!-- The paragraph stuff -->

strong {
  color: #333;
}
<!-- Above is color of h2 and h3, it changes if the commment is above it and I don't know why -->

