
h1 {
  font-family: sans-serif;
  font-size: 60px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color:white;
  text-align: center;
/*  proportional to width*/
}
h2 {
  font-family: sans-serif;
  font-size: 60px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color:white;
  text-align: center;
/*  proportional to width*/
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px){
  body{
    background-color: goldenrod;
  }
    h1 {
    font-size: 100px;
    color:black;
    margin-top: 0vh;
  /*  proportional to width*/
}

h2 {
    font-size: 50px;
    color:black;
  /*  proportional to width*/
}
  .big{
    color: red;
    visibility: hidden;
    font-size: 50px;

  }
  .closed{
    visibility: hidden;
     width: 1%;
  }
}

@media screen and (max-width: 768px){
  body{
    background-color: skyblue;
  }
  .small{
    color: red;
    visibility: hidden;
    font-size: 1px;

  }
    .birthday{
    color: red;
    visibility: hidden;
    font-size: 1px;

  }
  .open{
    visibility: hidden;
         width: 1%;
  }
  .big{
        margin-top: 20vh;
  }

}
